@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600;700&display=swap');

:root{
    --color-primary : #FF3B30;
    --color-secondary: grey;
    --color-success: green;
    --color-danger: red;
    --color-warning: rgb(218, 218, 54);
    --color-info: rgb(147, 147, 238);
    --color-white: #Fff6ea;
    --color-black: #282828;
    
    font-family: 'Roboto Mono', monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

img{
    object-fit: cover;
}

ul{
    list-style: none;
}