button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-container{
    margin:1rem 0;
}

.btn {
    background-color: none;
    color: var(--color-white);
    padding: 0.5rem 1rem;

}
.btn-large{
    padding: 1rem 4rem;
}

.btn-primary{
    background-color: var(--color-primary);
}
.btn-secondary{
    background-color: var(--color-secondary);
}
.btn-success{
    background-color: var(--color-success);
}
.btn-danger{
    background-color: var(--color-danger);
}
.btn-warning{
    background-color: var(--color-warning);
}

.btn-primary-outlined{
    border: 0.5px solid var(--color-primary);
    color: var(--color-black);
}

.btn-secondary-outlined{
    border: 1px solid var(--color-secondary);
    color: var(--color-black);
}


.btn-success-outlined{
    border: 1px solid var(--color-success);
    color: var(--color-black);
}

.btn-danger-outlined{
    border: 1px solid var(--color-danger);
    color: var(--color-black);
}


.btn-warning-outlined{
    border: 1px solid var(--color-warning);
    color: var(--color-black);
}

.btn-icon{
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}


.btn-link{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-link:hover{
    text-decoration: underline;
    transform: translateY(-2px);
    background-color: var(--color-primary);
}

.btn-fab{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 999px;
    padding: 0.8rem 1rem;
}