<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="button.css">
    <title>Button | nou-CL</title>
</head>
<body>
    <main class="main" >
        <aside class="side-nav">
            <h4>Nou-CL</h4>
            <ul>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="#">Avatar</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a class="focused" href="#">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="#">Image</a></li>
                <li><a href="#">Input</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="#">Slider</a></li>
                <li><a class="last" href="../toast/toast.html">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <div class="btn-container">
                <h3>Standard Buttons</h3>
                <button class="btn btn-primary">
                    Primary
                </button>
        
                <button class="btn btn-secondary">
                    Secondary
                </button>
        
                <button class="btn btn-success">
                    Success
                </button>
        
                <button class="btn btn-danger">
                    Danger
                </button>
        
                <button class="btn btn-warning">
                    Warning
                </button>
        
                <button class="btn btn-large btn-primary">
                    Primary
                </button>
            </div>
        
            <div class="btn-container">
                <h3>Outlined Buttons</h3>
                <button class="btn btn-primary-outlined">
                    Primary
                </button>
        
                <button class="btn btn-secondary-outlined">
                    Secondary
                </button>
        
                <button class="btn btn-success-outlined">
                    Success
                </button>
        
                <button class="btn btn-danger-outlined">
                    Danger
                </button>
        
                <button class="btn btn-warning-outlined">
                    Warning
                </button>
        
                <button class="btn btn-large btn-primary-outlined">
                    Primary
                </button>
            </div>
        
            <div class="btn-container">
                <h3>Icon and Buttons</h3>
                <button class="btn btn-icon">
                    <i class="fal fa-cart-plus"></i>
                </button>
                <button class="btn btn-icon">
                    <i class="fal fa-cart-plus"></i>
                    cart
                </button>
        
                <button class="btn btn-icon">
                    👈 Go Back
                </button>
            </div>
        
        <!-- Link Button -->
            <div class="btn-container">
                <h3>Link Button</h3>
                <a href="#">
                    <button class="btn btn-link">
                        Link
                    </button>
                </a>
            </div>    
        
        <!-- Floating Action Button -->
        
            <div class="btn-container">
                <h3>Floating Action Button</h3>
                <button class="btn btn-fab">
                    <i class="fal fa-alarm-clock"></i>
                </button>
            </div>

        </aside>
    </main> 

    
</body>
</html>