<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="button.css">
    <title>Button | nou-CL</title>
</head>
<body>
    <main class="main" >
        <aside class="side-nav">
            <h4><a class="side-nav-header" href="../../index.html">nou-CL</a></h4>
            <ul>
                <li><a href="../main.html">Install nou-CL</a></li>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="../avatar/avatar.html">Avatar</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a class="focused" href="#">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="../image/image.html">Image</a></li>
                <li><a href="../input/input.html">Input</a></li>
                <li><a href="../modal/modal.html">Modal</a></li>
                <li><a href="../navigation/navigation.html">Navigation</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="../slider/slider.html">Slider</a></li>
                <li><a class="last" href="../toast/toast.html">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <h1 class="content-heading">Button</h1>
            <p class="content-info">
                Buttons are clickable and depict a possible user action
            </p>
            <hr>

            <div class="btn-container">
                <h3>Standard Buttons</h3>
                <button class="btn btn-primary">
                    Primary
                </button>
        
                <button class="btn btn-secondary">
                    Secondary
                </button>
        
                <button class="btn btn-success">
                    Success
                </button>
        
                <button class="btn btn-danger">
                    Danger
                </button>
        
                <button class="btn btn-warning">
                    Warning
                </button>
        
                <button class="btn btn-large btn-primary">
                    Primary
                </button>
            </div>
            
            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/6210f2211cc8b9001542ee4d" style="width: 100%; height: 350px;" frameborder="0"></iframe>
            </div>

            <div class="btn-container">
                <h3>Outlined Buttons</h3>
                <button class="btn btn-primary-outlined">
                    Primary
                </button>
        
                <button class="btn btn-secondary-outlined">
                    Secondary
                </button>
        
                <button class="btn btn-success-outlined">
                    Success
                </button>
        
                <button class="btn btn-danger-outlined">
                    Danger
                </button>
        
                <button class="btn btn-warning-outlined">
                    Warning
                </button>
        
                <button class="btn btn-large btn-primary-outlined">
                    Primary
                </button>
            </div>
            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/6210f2ba1cc8b9001542ee51" style="width: 100%; height: 350px;" frameborder="0"></iframe>
            </div>
        
            <div class="btn-container">
                <h3>Icon and Buttons</h3>
                <button class="btn btn-icon">
                    <i class="fal fa-cart-plus"></i>
                </button>
                <button class="btn btn-icon">
                    <i class="fal fa-cart-plus"></i>
                    cart
                </button>
        
                <button class="btn btn-icon">
                    <i class="fal fa-hand-point-left"></i>
                    Go Back
                </button>
            </div>
            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/6210f4121cc8b9001542ee53" style="width: 100%; height: 242px;" frameborder="0"></iframe>
            </div>
        
        <!-- Link Button -->
            <div class="btn-container">
                <h3>Link Button</h3>
                <a href="#">
                    <button class="btn btn-link">
                        Link
                    </button>
                </a>
            </div>
            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/6210f4931cc8b9001542ee55" style="width: 100%; height: 151px;" frameborder="0"></iframe>
            </div>    
        
        <!-- Floating Action Button -->
        
            <div class="btn-container">
                <h3>Floating Action Button</h3>
                <button class="btn btn-fab">
                    <i class="fal fa-alarm-clock"></i>
                </button>
            </div>
            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/6210f5391cc8b9001542ee57" style="width: 100%; height: 125px;" frameborder="0"></iframe>
            </div>

        </aside>
    </main> 

    
</body>
</html>