<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="avatar.css">
    <title>Avatar | nou-CL</title>
</head>
<body>
    <div class="avatar-conatiner">
        <img class="avatar sm" src="https://picsum.photos/200" alt="avatar">
        <img class="avatar md" src="https://picsum.photos/200" alt="avatar">
        <img class="avatar lg" src="https://picsum.photos/200" alt="avatar">
        <img class="avatar xl" src="https://picsum.photos/200" alt="avatar">
    </div>
    
</body>
</html>