<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="toast.css">
    <title>Toast | nou-CL</title>
</head>
<body>
    <main class="main" >
        <aside class="side-nav">
            <h4 class="focused">Nou-CL</h4>
            <ul>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="#">Avatar</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a href="../button/button.html">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="../image/image.html">Image</a></li>
                <li><a href="#">Input</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="../slider/slider.html">Slider</a></li>
                <li><a class="last focused" href="#">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <div class="toast toast-position">
                <span class="toast-msg">Please try again later </span>
                <button class="toast-btn">&times;</button>
            </div>

        </aside>
    </main>
    
</body>
</html>