@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');
@import url("./alert/alert.css");
@import url("./avatar/avatar.css");
@import url("./badge/badge.css");
@import url("./button/button.css");
@import url("./card/card.css");
@import url("./image/image.css");
@import url("./input/input.css");
@import url("./modal/modal.css");
@import url("./navigation/navigation.css");
@import url("./rating/rating.css");
@import url("./slider/slider.css");
@import url("./toast/toast.css");


:root{
    --main-color: #3B2D82;
    --color-white: #eee;
    --color-black: #282828;

    --primary: #673ab7;
    --secondary: #2962ff;
    --success: #00e676;
    --danger: #f44336;
    --warning: #ffd600;
    --default: #424242;
    --link: #b3e5fc;
    --info: #82b1ff;

    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color: var(--color-black);
}
i{
    color: var(--color-black);
}