@import url("./alert/alert.css");
@import url("./avatar/avatar.css");
@import url("./badge/badge.css");
@import url("./button/button.css");
@import url("./card/card.css");
@import url("./image/image.css");
@import url("./input/input.css");
@import url("./rating/rating.css");
@import url("./slider/slider.css");
@import url("./toast/toast.css");


:root{
    --main-color: #5b5bc4;
    --color-primary : #FF3B30;
    --color-secondary: grey;
    --color-success: green;
    --color-danger: red;
    --color-warning: rgb(218, 218, 54);
    --color-info: rgb(147, 147, 238);
    --color-white: #Fff6ea;
    --color-black: #282828;
}