@import url("./alert/alert.css");

:root{
    --color-primary : #FF3B30;
    --color-secondary: grey;
    --color-success: green;
    --color-danger: red;
    --color-warning: rgb(218, 218, 54);
    --color-info: rgb(147, 147, 238);
    --color-white: #Fff6ea;
    --color-black: #282828;
}