@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

:root{
    --color-sidenav: #18283b;
    --color-sidebar-link: #c6cfdc;
    --color-link-hover: #0075ff;

    font-family: 'Roboto Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-nav{
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--color-sidenav);
    padding-top: 30px;
    font-family: sans-serif;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.side-nav::-webkit-scrollbar {/* To make the nav scrollbar disappear */
    display: none;
  }

.side-nav ul{
    height: 100%;
    width: 100%; 
    padding-top: 50px;
}

.last{/* Giving some extra space at the end of the nav-bar */
    margin-bottom: 50px;
}

.side-nav h4{
    color: white;
    width: 85%;
    text-align: center;
}

.side-nav ul li{
    margin-left: 30px;
    list-style-type: none;
    margin-bottom: 36px;
}

.side-nav ul li a{
    text-decoration: none;
    color: var(--color-sidebar-link);
    font-weight: 500;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    height: 42px;
    text-align: center;
    padding-top: 12px;
    transition: background,margin-left .4s ease;
}

.side-nav ul li a:hover{
    color: white;
    background: var(--color-link-hover) ;
    font-weight: 600;
    margin-left: 30px;
}
.side-nav .focused{
    font-weight: 900;
}

/*Right side content*/

.main-content{
    height: 150vh;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 20rem;
    padding-left: 50px;
}

.content-heading{
    padding: 1rem 0;
    font-size: 2rem;
}
.content-info{
    padding: 1rem 0;
    font-size: 1.2rem;
}
.content-sub-heading{
    padding: 1rem 0;
    font-size: 1.2rem;
}
.content-image{
    padding: 1rem 0;
    width: 90%;
}
.content-image iframe{
    width: 100%;
}