*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-nav{
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #18283b;
    padding-top: 30px;
    font-family: sans-serif;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.side-nav::-webkit-scrollbar {/* To make the nav scrollbar disappear */
    display: none;
  }

.side-nav ul{
    height: 100%;
    width: 100%; 
    padding-top: 50px;
}

.last{/* Giving some extra space at the end of the nav-bar */
    margin-bottom: 50px;
}

.side-nav h4{
    color: white;
    width: 85%;
    text-align: center;
}

.side-nav ul li{
    margin-left: 30px;
    list-style-type: none;
    margin-bottom: 36px;
}

.side-nav ul li a{
    text-decoration: none;
    color: #c6cfdc;
    font-weight: 500;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    height: 42px;
    text-align: center;
    padding-top: 12px;
    transition: background,margin-left .4s ease;
}

.side-nav ul li a:hover{
    color: rgb(255, 255, 255);
    background: #0075ff ;
    font-weight: 600;
    margin-left: 30px;
}
.side-nav .focused{
    font-weight: 900;
}

/*Right side content*/

.main-content{
    border: 1px solid black;
    height: 150vh;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 20rem;
    padding-left: 50px;
}