<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="navigation.css">
    <title>Navigation | nou-CL</title>
</head>
<body>
    <main class="main" >
        <aside class="side-nav">
            <h4><a class="side-nav-header" href="../../index.html">nou-CL</a></h4>
            <ul>
                <li><a href="../main.html">Install nou-CL</a></li>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="../avatar/avatar.html">Avatar</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a href="../button/button.html">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="../image/image.html">Image</a></li>
                <li><a href="../input/input.html">Input</a></li>
                <li><a href="../modal/modal.html">Modal</a></li>
                <li><a class="focused" href="#">Navigation</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="../slider/slider.html">Slider</a></li>
                <li><a class="last" href="../toast/toast.html">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <h1 class="content-heading">Navigation</h1>
            <p class="content-info">
                Navigation is used to navigate between pages. Generally used as a header
            </p>
            <hr>
            
            <div class="nav-wrapper">
                <nav class="navbar">
                    <a class="nav-heading" href="#">NOU Store</a>
                    <input class="nav-input" type="text" placeholder="Search from a range of merch" />  
                    <div class="nav-right">
                      <a class="nav-btn" href="#">Login</a>
                      <a href="#">
                        <i class="fal fa-heart"></i>
                      </a> 
                      <a href="#">
                        <i class="fal fa-shopping-cart">Cart
                        </i>
                      </a>
                    </div>
                </nav>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, itaque? Aut quidem voluptate illum? Quaerat atque maxime non? Autem atque doloremque nisi velit inventore deserunt? Rerum maiores unde veritatis beatae?
                Totam doloremque voluptatum tempora perspiciatis tenetur beatae cupiditate necessitatibus alias. A quod inventore expedita fugiat eum debitis nostrum similique. Incidunt molestias earum dignissimos odit explicabo possimus quas provident minima? Tenetur.
                Commodi assumenda dolorem iusto, facilis, rerum voluptatibus sunt eveniet vero inventore accusamus culpa vel neque asperiores voluptates totam unde omnis! Id fugit dicta quam illum! Quibusdam mollitia iste nostrum excepturi.
                Dolorem itaque accusamus dolore est provident pariatur rerum reiciendis, quibusdam at placeat molestiae minima temporibus accusantium error ipsam. Sint consectetur assumenda beatae magni blanditiis consequuntur ullam est illum labore tenetur?
                Praesentium repellendus adipisci quaerat quae. Velit iusto harum aspernatur amet aperiam nisi quos tenetur quaerat quidem laborum beatae atque exercitationem dolores deserunt eum doloribus corporis in, odit vero ex magnam.
                Sapiente, eligendi delectus asperiores quia tempore adipisci. Maiores odit dolor necessitatibus quas itaque nam rerum consequuntur veniam nemo inventore, debitis maxime hic eveniet, dolore iure unde sed quibusdam ipsa enim?
                Aliquam quaerat a similique tenetur nostrum debitis voluptates ad reprehenderit doloremque assumenda quibusdam sapiente tempora esse hic enim, corporis eius reiciendis dolore ipsam provident repudiandae aperiam officia ipsum. Ipsum, ab?
                Numquam sed maxime libero repellendus veritatis? Esse nam est perspiciatis voluptates dolore culpa architecto aliquid beatae, vero tempora ipsam fugiat provident a soluta vitae incidunt eaque totam omnis! Quis, doloremque!
                Eos non quasi fugiat voluptatibus autem consequatur sit hic molestiae nihil. Quas, temporibus tempore repudiandae quia ullam facere provident fugiat fuga quis vel reprehenderit cumque est inventore porro ipsam a.
                Eligendi harum sed a amet asperiores. Minus veritatis iste quaerat aliquam. Aliquam quam reiciendis similique reprehenderit explicabo incidunt adipisci itaque mollitia libero atque eum placeat, voluptas, debitis eius quod eaque.
                </p>
            </div>

            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/62135ad411c4db00151a7e34" style="width: 100%; height: 281px;" frameborder="0"></iframe>
            </div>
                        
        </aside>
    </main>
</body>
</html>