<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="badge.css">
    <title>Badge | nou-CL</title>
</head>
<body>

    <main class="main" >
        <aside class="side-nav">
            <h4>Nou-CL</h4>
            <ul>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="#">Avatar</a></li>
                <li><a class="focused" href="#">Badge</a></li>
                <li><a href="../button/button.html">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="../image/image.html">Image</a></li>
                <li><a href="#">Input</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="../slider/slider.html">Slider</a></li>
                <li><a class="last" href="../toast/toast.html">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <div class="badge-container">
                <div class="badge">
                    <i class="fa fa-bell fa-2x"></i>
                    <span class="badge-notification">2</span>
                </div>
            
                <div class="badge">
                    <i class="fas fa-envelope fa-2x"></i>
                    <span class="badge-notification">9</span>
                </div>
            
                <div class="badge">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <span class="badge-notification">7</span>
                </div>
            
                <div class="badge">
                    <img class="avatar sm" src="https://picsum.photos/200" alt="avatar">
                    <span class="badge-notification">4</span>
                </div>
            </div>

        </aside>
    </main>
</body>
</html>