<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="badge.css">
    <title>Badge | nou-CL</title>
</head>
<body>
    <div class="badge-container">
        <div class="badge">
            <i class="fa fa-bell fa-2x"></i>
            <span class="badge-notification">2</span>
        </div>
    
        <div class="badge">
            <i class="fas fa-envelope fa-2x"></i>
            <span class="badge-notification">9</span>
        </div>
    
        <div class="badge">
            <i class="fas fa-shopping-cart fa-2x"></i>
            <span class="badge-notification">7</span>
        </div>
    
        <div class="badge">
            <img class="avatar sm" src="https://picsum.photos/200" alt="avatar">
            <span class="badge-notification">4</span>
        </div>
    </div>
</body>
</html>