.modal-wrapper{
    margin-top: 1rem;
}
.modal{
    background-color: var(--color-white);
    box-shadow: 0px 0px 10px 1px;
    width: fit-content;
    padding: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-dialouge{
    padding: 0.4rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.modal-icon{
    color: var(--black);
    background-color: var(--black);
}