.alert{
    margin:2rem;
    width: 400px;
    display: flex;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-black);

    justify-content: center;
    align-items: center;
}

.alert-content{
    margin-left: 1.5rem;
    margin-right: auto;
    /*works along with justify-content here*/
}

.alert i{
    margin-right: 0.5rem;
}

.alert-success{
    background-color: var(--color-success);
}
.alert-danger{
    background-color: var(--color-danger);
}
.alert-info{
    background-color: var(--color-info);
}
.alert-warning{
    background-color: var(--color-warning);
}