<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="alert.css">
    <title>Alert | nou-CL</title>
</head>
<body>
    <main class="main" >
        <aside class="side-nav">
            <h4>Nou-CL</h4>
            <ul>
                <li><a class="focused" href="./alert/alert.html">Alert</a></li>
                <li><a href="#">Avatar</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a href="../button/button.html">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="../image/image.html">Image</a></li>
                <li><a href="#">Input</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="../slider/slider.html">Slider</a></li>
                <li><a class="last" href="../toast/toast.html">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <div class="alert alert-success">
                <p class="alert-content">
                    Success message
                </p>
                <i class="far fa-times"></i>
            </div>
        
            <div class="alert alert-danger">
                <p class="alert-content">
                    Danger ahead
                </p>
                <i class="far fa-times"></i>
            </div>
        
            <div class="alert alert-info">
                <p class="alert-content">
                    Some info message
                </p>
                <i class="far fa-times"></i>
            </div>
        
            <div class="alert alert-warning">
                <p class="alert-content">
                   Some warning message  
                </p>
                <i class="far fa-times"></i>
            </div>


            <!-- <div class="content-container">
                <iframe
                src="https://carbon.now.sh/embed/"
                style="width: 1024px; height: 473px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div> -->

        </aside>
    </main> 

    
</body>
</html>