<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="alert.css">
    <title>Alert | nou-CL</title>
</head>
<body>
    <main class="main" >
        <aside class="side-nav">
            <h4>Nou-CL</h4>
            <ul>
                <li><a href="../main.html">Install nou-CL</a></li>
                <li><a class="focused" href="#">Alert</a></li>
                <li><a href="../avatar/avatar.html">Avatar</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a href="../button/button.html">Button</a></li>
                <li><a href="../card/card.html">Card</a></li>
                <li><a href="../image/image.html">Image</a></li>
                <li><a href="../input/input.html">Input</a></li>
                <li><a href="../rating/rating.html">Rating</a></li>
                <li><a href="../slider/slider.html">Slider</a></li>
                <li><a class="last" href="../toast/toast.html">Toast</a></li>

            </ul>
        </aside>

        <aside class="main-content">
            <h1 class="content-heading">Alert</h1>
            <p class="content-info">
                Alerts are used to provide contextual feedback messages without interrupting the normal flow of user.
            </p>
            <hr>
            <div class="alert alert-success">
                <p class="alert-content">
                    This is a success alert
                </p>
                <i class="far fa-times"></i>
            </div>
        
            <div class="alert alert-danger">
                <p class="alert-content">
                    This is a danger alert
                </p>
                <i class="far fa-times"></i>
            </div>
        
            <div class="alert alert-info">
                <p class="alert-content">
                    This is a info alert
                </p>
                <i class="far fa-times"></i>
            </div>
        
            <div class="alert alert-warning">
                <p class="alert-content">
                   This is a warning alert  
                </p>
                <i class="far fa-times"></i>
            </div>

            <div class="content-image">
                <iframe src="https://www.thiscodeworks.com/embed/621060b51cc8b9001542eda7" style="width: 100%;height: 2000px; " frameborder="0"></iframe>
            </div>
                        
        </aside>
    </main> 

    
</body>
</html>